@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
#hero{
    margin: 18px 0px 90px 0px;
}
.gridlayout{
    width: 93%;
    margin-right: auto;
    margin-left: auto;
}
.hero-img{
    display: flex;
    align-items: center;
    gap: 0px;
}
.Coupon-img{
    margin-bottom: -340px;
    margin-right: -20px;
}
.Coupon-img img{
    width: 40px;
    height: auto;
}

.hero-mainimg img{
    width: 420px;
    height: auto;
}

.main-hero{
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.hero-content h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: grey;
    text-transform: capitalize;
    letter-spacing: 10px;
    margin-bottom: -5px;
}
.hero-content h1{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -6px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.hero-btn-one{
    padding: 12px 30px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

/* .hero-btn-two{
    padding: 12px 30px;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid;
} */
.hero-button{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-btn-two {
    display: inline-block;
    padding: 12px 30px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
    color: black;
    z-index: 1;
    background: white;
  }
  
  .hero-btn-two:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .hero-btn-two:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .hero-btn-two:hover {
    color: #ffffff;
    border: 1px solid black;
  }
  
  .hero-btn-two:hover:before {
    top: -35%;
    background-color: black;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .hero-btn-two:hover:after {
    top: -45%;
    background-color: black;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  @media screen and (max-width:500px) {

    .main-hero{
        flex-direction: column;
        gap: 50px;

    }

    .hero-img{
        display: flex;
        align-items: center;
        gap: 0px;
    }
    .Coupon-img{
        margin-bottom: -271px;
        margin-right: -50px;
    }
    .Coupon-img img{
        width: 20px;
        height: auto;
    }
    
    .hero-mainimg img{
        width: 274px;
        height: auto;
    }


    .hero-content h3{

        font-size: 19px;
        letter-spacing: 10px;
        margin-bottom: 0px;
    }
    .hero-content h1{
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0px;
        font-family: 'Poppins', sans-serif;
        color: black;
    }

    .hero-btn-one{
        font-size: 11px;
    }

    .hero-btn-two{
        font-size: 11px;
    }
#hero{
    margin: 10px 0px 50px 0px;
}

 
}

@media only screen 
  and (min-device-width: 501px) 
  and (max-device-width: 1024px) {

    .main-hero{
        flex-direction: column;
        gap: 70px;

    }
  
}